/* HISTORY CARD CONTENT */
.history {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
}

.history-container {
    max-width: 1700px;
    width: 100%;
    padding: 40px 10px;
}

.history-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.history .card {
    height: 95vh;
    border-radius: 25px;
    background-color: #FFF;
}

.history .image-content,
.history .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.history .image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.history .card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.history .card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 4px solid #4070F4;
}


.history .image-content-long {
    display: flex;
    flex-direction: column;
}

.history .image-content-long {
    position: relative;
}

.history .card-image-long {
    position: relative;
    height: 50%;
    width: 100%;
}

.history .card-image-long .card-img-long {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.history .title {
    font-size: 2em;
    font-weight: 0.5em;
    color: #333;
    padding: 0, 20px;
}

.history .info {
    font-size: 1em;
    color: #707070;
    text-align: center;
}

.swiper-navBtn-history {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn-history:hover {
    color: #4070F4;
}

.swiper-navBtn-history::before,
.swiper-navBtn-history::after {
    font-size: 35px;
}

.swiper-button-next-history {
    right: 0;
}

.swiper-button-prev-history {
    left: 0;
}

.swiper-pagination-history-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-history-bullet-active {
    background-color: #4070F4;
}

/* DYNAMIC */
@media screen and (max-width: 768px) {
    .history .title {
        font-size: 1.5em;
    }

    .history .info {
        font-size: 0.7em;
        color: #707070;
        text-align: center;
    }

    .history .card {
        height: 70vh;
    }

    .history {
        min-height: 78vh;
    }
}