/* MEMBER CARD CONTENT */
.members {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
}

.members-container {
    max-width: 1700px;
    width: 100%;
    padding: 40px 10px;
}

.members-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.members .card {
    border-radius: 25px;
    background-color: #FFF;
}

.members .image-content,
.members .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.members .image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.members .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}

.members .overlay::before,
.members .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}

.members .overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.members .card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.members .card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}

.members .name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    z-index: 10;
}

.members .description {
    font-size: 14px;
    color: #707070;
    text-align: center;
    z-index: 10;
}

.members .button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #2E7BE1;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.members .button:hover {
    background: #265DF2;
}

.members .swiper-navBtn-member {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn-member:hover {
    color: #4070F4;
}

.swiper-navBtn-member::before,
.swiper-navBtn-member::after {
    font-size: 35px;
}

.swiper-button-next-member {
    right: 0;
}

.swiper-button-prev-member {
    left: 0;
}

.swiper-pagination-member-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-member-bullet-active {
    background-color: #4070F4;
}

/* DYNAMIC */
@media screen and (max-width: 768px) {
    .members .name {
        font-size: 16px;
    }
    
    .members .description {
        font-size: 12px;
        text-align: center;
    }

    .members .card-image {
        height: 100px;
        width: 100px;
    }

    .members .image-content {
        row-gap: 5px;
        padding: 15px 0;
    }

    .members {
        min-height: 40vh;
    }
}