/* PARALLAX SECTION */
.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #ffffff, transparent);
    z-index: 999;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.parallax #tagline1,
.parallax #tagline2 {
    top: 100px;
    text-align: left;
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
}

.parallax #tagline1 {
    font-size: 6vw;
}

.parallax #tagline2 {
    font-size: 2.5vw;
    transform: translateY(130px);
}

/* DYNAMIC */
@media screen and (max-width: 768px) {
    .parallax #tagline1,
    .parallax #tagline2 {
        top: 200px;
    }

    .parallax #tagline1 {
        font-size: 8vw;
    }
    
    .parallax #tagline2 {
        font-size: 3.5vw;
        transform: translateY(50px);
    }
}